---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Footer from "../components/Footer.astro";
import FeaturedReel from "../components/FeaturedReel.astro";
import CategoryGrid from "../components/CategoryGrid.astro";
import { categories } from "../data/categories";
import { profile } from "../data/profile";
import SupportCard from "../components/SupportCard.astro";
import Header from "../components/Header.astro";

const visibleCategories = Object.values(categories)
	.filter((category) => category.enabled)
	.sort((a, b) => a.order - b.order);
---

<Layout title="Emokoala">
	<main>
		<Hero />

		<FeaturedReel />

		<CategoryGrid categories={visibleCategories} />

		<About />

		<SupportCard support={profile.support} />
		<!-- <Header profile={profile} /> -->

		<Footer />
	</main>
</Layout>
