---
const { poster, video } = Astro.props;
---

<div class="featured-video">
    <video controls preload="metadata" poster={poster}>
        <source src={video} type="video/mp4" />
    </video>
</div>
