---
import FeaturedVideo from "./FeaturedVideo.astro";
import { projects } from "../data/projects";

const featuredProject = projects.find(
    (project) => project.enabled && project.featured,
);
console.log({featuredProject});
---

<section id="reel" class="container reel-section">

    {
        featuredProject ? (
            <div class="section-label">Featured Reel</div>
        
            <FeaturedVideo
                poster={
                    featuredProject.media.poster || featuredProject.media.hero
                }
                video={featuredProject.media.video}
            />
        ) : (
            // <div class="empty-state">
                <p></p>
            // </div>
        )
    }
</section>
