---
const { poster, video } = Astro.props;
// import { pathFinder } from "../lib/paths"; //already sent with correct paths in parent

---

<div class="featured-video">
    <video controls preload="metadata" poster={poster}>
        <source src={video} type="video/mp4" />
    </video>
</div>
