---
const { poster, video } = Astro.props;
import { pathFinder } from "../lib/paths";

---

<div class="featured-video">
    <video controls preload="metadata" poster={poster}>
        <source src={pathFinder(video)} type="video/mp4" />
    </video>
</div>
