---
const { profile } = Astro.props;
import { pathFinder } from "../lib/paths";

---

<header class="site-header">
    <a class="brand brand-with-mark" href={pathFinder("/")}>
        <!-- <img src="/brand/emokoala-logo.png" alt="" /> -->
        <span>
            <!-- {profile.name}  -->
            <sub class="emo"><u>emo</u></sub><b class="koala"><i>koala</i></b>
        </span>
    </a>
    <nav class="nav">
        {
            profile.navigation.map((item: { title: string; href: string }) => (
                <a href={pathFinder(item.href)}>{item.title}</a>
            ))
        }
    </nav>
</header>
