---
import "../styles/global.css";
import Header from "../components/Header.astro";
import { profile } from "../data/profile";
interface Props {
	title?: string;
}
import { pathFinder } from "../lib/paths";

const { title = "Emokoala Portfolio" } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Space+Grotesk:wght@400;500;700&display=swap"
			rel="stylesheet"
		/>

		<link
			href="https://fonts.googleapis.com/css2?family=Audiowide&family=Belanosima:wght@400;600;700&family=Covered+By+Your+Grace&family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&family=Fascinate&family=Flavors&family=Homenaje&family=Kablammo&family=Pacifico&family=Snowburst+One&family=Teachers:ital,wght@0,400..800;1,400..800&family=Vend+Sans:ital,wght@0,300..700;1,300..700&display=swap"
			rel="stylesheet"
		/>

		<meta charset="UTF-8" />
		<!-- <meta name="viewport" content="width=device-width" /> -->
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, viewport-fit=cover"
		/>

		<meta
			name="theme-color"
			content="#0b0915"
			media="(prefers-color-scheme: dark)"
		/>
		<meta
			name="theme-color"
			content="#0b0915"
			media="(prefers-color-scheme: light)"
		/>
		<meta
			name="apple-mobile-web-app-status-bar-style"
			content="black-translucent"
		/>

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta
			name="apple-mobile-web-app-status-bar-style"
			content="black-translucent"
		/>
		<link rel="icon" type="image/png" href={pathFinder("/brand/emokoala-logo.png")} />

		<title>{title}</title>

	</head>

	<body>
		<Header profile={profile} />

		<slot />
	</body>
</html>
